html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow: auto;
}

:root{--hover-ring:#fff}
@media (prefers-color-scheme: light){
  :root{--hover-ring:#000}
}

html{font-size:16px}
@media (max-width:480px){
  html{font-size:2rem}
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  background:#2b2b2b;
}

.calculator{
  background-color:black;
  border-radius:30px;
  width:320px;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:1rem;
  box-shadow:0 8px 28px rgba(0,0,0,.45);
}

.display{
  background-color:rgb(65,62,62);
  color:white;
  font-size:2rem;
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  padding:20px;
  border-radius:10px;
  min-height:100px;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.buttons button{
  border:none;
  outline:none;
  border-radius:50%;
  width:100%;
  height:64px;
  padding:0;
  text-align:center;
  display:grid;
  place-items:center;
  font-size:2rem;

}
 .buttons button:hover{
  filter:brightness(1.18);
  transform:scale(1.08);
  outline: 0.2rem solid white;
}

.actions{
  background-color:#a5a5a5;
  color:black
}
.operator{
  background-color:orange;
  color:white
}
.number{
  background-color:#333333;
  color:white
}

.zero{
  grid-column:span 2;
  width:100%;
  height:64px;
  border-radius:32px !important;
}
